body {
    background-color: #b3c4b1;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #555a54;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: #555a54;
        color: white;
        font-family: 'Major Mono Display', monospace;

}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.left {
  float: left;
  width: 25px;
  height: 20px;
  margin-left: 325px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
}

.middle {
  float: left;
  width: 25px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
}

.right {
  float: right;
  width: 25px;
  margin-right: 100px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 50%;
}

.blue {
  background: #c7a5a2;
}

.purple {
  background: #daaf6e;
}

.wine {
  background: #d1e1f5;
}

.gray {
background: #494545;
}

#clientProfile {

}